{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block header %}
  <h1>{{title}}</h1>
{% endblock %}



{% block app_content %}
{% include 'auth/error_message.html'%}

<section class="h-100">
    <header class="container h-100 mt-3">
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column">
            <h3>{{title}}</h3>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </header>
  </section>


{% endblock %}